@using Rehab.MVC.Models
@model IEnumerable<Rehab.MVC.Models.WorkoutPlan>

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <title>Workout Plans</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.css" rel="stylesheet"/>
</head>
<body>

<div class="container">
    <div class="modal fade" id="addWPModal" tabindex="-1" role="dialog" aria-labelledby="addWPModal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModal-label">New workout plan</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="addWPForm">
                        <div class="form-group">
                            <label class="control-label" for="inputName">Name</label>
                            <input type="text" class="form-control" id="inputName" name="name" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputName">Description</label>
                            <input type="text" class="form-control" id="inputDescription" name="description" placeholder="Enter description">
                        </div>
                        <button type="submit" id="submitWPFormBtn" class="btn btn-default">Submit</button>
                    </form>
                    <div id="formMessage" hidden>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="closeWPModal" class="btn btn-default" data-dismiss="modal" onclick="reloadWindow()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModal-label">Confirm delete</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="confirmDeleteBtn" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <hr/>
    <h1>Daniel's Rehab Application</h1>
    <hr/>
    <button id="addBtn" class="btn btn-default" data-toggle="modal" data-target="#addWPModal"><i class="fa fa-plus-circle" aria-hidden="true"></i> New workout plan</button>
    <hr/>
    <div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
        @for (var i = 0; i < Model.Count(); i++)
        {
            <div class="modal fade" id="addWorkoutModal-@i" tabindex="-1" role="dialog" aria-labelledby="addWorkoutModal-label-@i">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="addWorkoutModal-label-@i">New workout</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" method="post" asp-controller="WorkoutPlan" asp-action="CreateWorkout" asp-route-workoutPlanId="@Model.ElementAt(i).Id">
                                <div class="form-group">
                                    <label class="control-label" for="nameInput-@i">Name</label>
                                    <input type="text" class="form-control" id="nameInput-@i" name="name" placeholder="Enter name of workout">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="descriptionInput-@i">Description</label>
                                    <input type="text" class="form-control" id="descriptionInput-@i" name="description" placeholder="Enter description for workout">
                                </div>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="dates" placeholder="Select one or more dates"><span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                                <hr/>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapse-heading-@i">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                            @Model.ElementAt(i).Name
                        </a>
                        <span class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                            <button class="btn btn-default" data-toggle="modal" data-target="#descriptionModal-@i"><i class="fa fa-info-circle" aria-hidden="true"></i> Description</button>
                            <button class="btn btn-default" data-toggle="modal" data-target="#updateWPModal-@i" id="updateBtn"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
                            <button class="btn btn-default" id="deleteBtn" onclick="deleteWorkoutPlan('@Model.ElementAt(i).Id','@Model.ElementAt(i).Name')"><i class="fa fa-trash" aria-hidden="true"> Delete</i></button>
                        </span>
                        <div class="modal fade" id="descriptionModal-@i" tabindex="-1" role="dialog" aria-labelledby="descriptionModal-@i-label">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="descriptionModal-@i-label">@Model.ElementAt(i).Name</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>@Model.ElementAt(i).Description</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="updateWPModal-@i" tabindex="-1" role="dialog" aria-labelledby="updateWPModal-@i-label">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="updateModal-label-@i">Update workout plan</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form role="form" id="updateWPForm-@i" method="post" asp-controller="WorkoutPlan" asp-action="Update" asp-route-id="@Model.ElementAt(i).Id">
                                            <div class="form-group">
                                                <label class="control-label" for="inputName">Name</label>
                                                <input type="text" class="form-control" id="updateName-@i" name="name" placeholder="Enter name">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="inputName">Description</label>
                                                <input type="text" class="form-control" id="updateDescription-@i" name="description" placeholder="Enter description">
                                            </div>
                                            <button type="submit" id="submitUpdateWPFormBtn-@i" class="btn btn-default">Submit</button>
                                        </form>
                                        <div id="updateFormMessage-@i" hidden>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" id="closeUpdateWPModal-@i" class="btn btn-default" data-dismiss="modal" onclick="reloadWindow()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </h4>
                </div>
                <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-@i">
                    <div class="panel-body">
                        @foreach (var workoutPlanWorkout in Model.ElementAt(i).WorkoutPlanWorkouts.OrderBy(x => x.ScheduledTime))
                        {
                            <p>
                                @workoutPlanWorkout.ScheduledTime.ToString("MMMM dd, yyyy") - <a asp-action="Index" asp-controller="Workout" asp-route-id="@workoutPlanWorkout.Workout.Id">@workoutPlanWorkout.Workout.Name</a>
                                <i class="fa fa-minus-circle" onclick="deleteWorkoutPlanWorkout('@workoutPlanWorkout.Id', '@workoutPlanWorkout.Workout.Name')"></i>
                            </p>
                        }
                        <hr/>
                        <form class="form-inline" asp-controller="WorkoutPlan" asp-action="AddWorkoutToPlan" asp-for="Model" asp-route-id="@Model.ElementAt(i).Id">
                            <div class="form-group form-group-sm">
                                @{
                                    var currentlySelectedIndex = 0;
                                }
                                <select class="form-control" asp-for="@currentlySelectedIndex" asp-items="@(new SelectList(ViewBag.Workouts, "Id", "Name"))" name="workoutId"></select>
                                <div class="input-group date">
                                    <input type="text" class="form-control" name="date" placeholder="Select one or more dates"><span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                                <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add workout to plan</button>
                                <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#addWorkoutModal-@i"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new workout</button>
                            </div>
                        </form>
                       
                    </div>
                </div>
            </div>
        }
    </div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.js"></script>
<script src="~/js/site.js"></script>
</body>
</html>