@model IEnumerable<WorkoutPlan>

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    @for (var i = 0; i < Model.Count(); i++)
    {
        <div class="panel">
            <div class="panel-heading" role="tab" id="collapse-heading-@i">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                        @Model.ElementAt(i).Name
                    </a>
                    <span class="btn-group btn-group-xs pull-right" role="group" aria-label="...">
                        <button class="btn btn-default" onclick="exportCalendar('@Model.ElementAt(i).Id', '@Model.ElementAt(i).Name')"><i class="fa fa-google-plus" aria-hidden="true"></i> Export to Google Calendar</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#descriptionModal-@i"><i class="fa fa-info-circle" aria-hidden="true"></i> Description</button>
                        <button class="btn btn-default" data-toggle="modal" data-target="#updateWPModal-@i" id="updateBtn"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
                        <button class="btn btn-default" id="deleteBtn" onclick="deleteWorkoutPlan('@Model.ElementAt(i).Id', '@Model.ElementAt(i).Name')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    </span>

                </h4>
            </div>
            <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-@i">
                <div class="panel-body">
                    @foreach (var workoutPlanWorkout in Model.ElementAt(i).WorkoutPlanWorkouts.OrderBy(x => x.ScheduledTime))
                {
                    <p class="workoutInfo @(@workoutPlanWorkout.IsDone == true ? "line-through" : "")">
                        @workoutPlanWorkout.ScheduledTime.ToString("MMMM dd, yyyy") - <a asp-action="Index" asp-controller="Workout" asp-route-id="@workoutPlanWorkout.Workout.Id">@workoutPlanWorkout.Workout.Name</a>
                        <i class="fa fa-minus-circle" onclick="deleteWorkoutPlanWorkout('@workoutPlanWorkout.Id', '@workoutPlanWorkout.Workout.Name')"></i>
                        <input hidden value="@workoutPlanWorkout.Id"/>
                        <i class="fa fa-check done"></i>
                    </p>
                    }
                    <hr />
                    <form class="form-inline" asp-controller="WorkoutPlan" asp-action="AddWorkoutToPlan" asp-for="Model" asp-route-id="@Model.ElementAt(i).Id">
                        <div class="form-group form-group-sm">
                            @{
                                var currentlySelectedIndex = 0;
                            }
                            <select class="form-control" asp-for="@currentlySelectedIndex" asp-items="@(new SelectList(ViewBag.Workouts, "Id", "Name"))" name="workoutId"></select>
                            <div class="input-group date">
                                <input type="text" required class="form-control" readonly name="date" placeholder="Select one or more dates"><span class="input-group-addon">
                                    <i class="fa fa-calendar-o"></i>
                                </span>
                            </div>
                            <input class="input-sm" required name="time" type="time"/>

                            <button class="btn btn-default btn-sm" type="submit"><i class="fa fa-plus" aria-hidden="true"></i> Add workout to plan</button>
                            <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#addWorkoutModal-@i"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create new workout</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
                                }
</div>