@model WorkoutViewModel

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    @for (var i = 0; i < Model.WorkoutExercises.Count; i++)
    {
       @Html.Partial("_UpdateExerciseModal")
        <div class="panel">
            <div class="panel-heading" role="tab" id="collapse-heading-@i">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                        @Model.WorkoutExercises.ElementAt(i).Exercise.Name
                    </a>
                    <span class="btn-group pull-right btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#updateExerciseModal-@i"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit</button>
                        <button type="button" class="btn btn-default btn-xs" onclick="deleteExerciseFromWorkout('@Model.WorkoutExercises.ElementAt(i).Id', '@Model.WorkoutExercises.ElementAt(i).Exercise.Name', '@Model.Id')"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                    </span>
                </h4>
            </div>
            <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-@i">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tool</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Resistance</th>
                            <th>Description</th>
                            <th>Notes</th>
                            <th>Video</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>@Model.WorkoutExercises.ElementAt(i).Exercise.Tool.Name</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Sets</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Reps</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Resistance</td>
                            <td>
                                <i class="fa fa-info-circle" onclick="showExerciseInfo('@Model.WorkoutExercises.ElementAt(i).Exercise.Description', 'Description')" data-toggle="tooltip" title="View description"></i>
                            </td>
                            <td>
                                <i class="fa fa-comments" onclick="showExerciseInfo('@Model.WorkoutExercises.ElementAt(i).Notes', 'Notes')" data-toggle="tooltip" title="View notes"></i>
                                <i class="fa fa-plus-circle" data-toggle="tooltip" title="Add note" onclick="updateNotes('@Model.WorkoutExercises.ElementAt(i).Id', '@Model.WorkoutExercises.ElementAt(i).Notes')"></i>
                            </td>
                            <td>
                                <i class="fa fa-video-camera" onclick="videoModal('@Model.WorkoutExercises.ElementAt(i).Exercise.VideoUrl')" data-toggle="tooltip" title="View video"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>