@model WorkoutViewModel

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    @for (var i = 0; i < Model.WorkoutExercises.Count; i++)
    {
        <div class="modal fade" id="updateExerciseModal-@i" tabindex="-1" role="dialog" aria-labelledby="updateExerciseModal-label-@i">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="newExerciseModal-label-@i">Update exercise</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" asp-controller="Workout" asp-action="UpdateExercise" asp-route-workoutExerciseId="@Model.WorkoutExercises.ElementAt(i).Id" asp-route-exerciseId="@Model.WorkoutExercises.ElementAt(i).Exercise.Id" method="post">
                            <div class="form-group">
                                <label class="control-label" for="exerciseNameInput-@i">Name</label>
                                <input type="text" value="@Model.WorkoutExercises.ElementAt(i).Exercise.Name" class="form-control" id="exerciseNameInput-@i" name="name">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exerciseDescriptionInput-@i">Description</label>
                                <input type="text" class="form-control" value="@Model.WorkoutExercises.ElementAt(i).Exercise.Description" id="exerciseDescriptionInput-@i" name="description">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="toolSelectList-@i">Select tool</label>
                                <select id="toolSelectList-@i" class="form-control" name="toolId">
                                    @foreach (var tool in Model.Tools)
                                    {
                                        <option value="@tool.Id">@tool.Name</option>
                                    }
                                </select>
                                <button type="button" class="btn btn-default btn-xs" onclick="$('#newTool-@i').show()"><i class="fa fa-plus"></i> New tool</button>
                            </div>
                            <div class="form-group" hidden id="newTool-@i">
                                <label class="control-label" for="exerciseToolInput-@i">Name for new tool</label>
                                <input type="text" class="form-control" id="exerciseToolInput-@i" name="toolName">
                                <hr />
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="videoUrlInput-@i">Video URL (youtube link only!)</label>
                                <input type="url" class="form-control" id="videoUrlInput-@i" value="@Model.WorkoutExercises.ElementAt(i).Exercise.VideoUrl" name="videoUrl">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exerciseSetsInput-@i">Sets</label>
                                <input type="number" class="form-control" id="exerciseSetsInput-@i" value="@Model.WorkoutExercises.ElementAt(i).Sets" name="sets">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exerciseRepsInput-@i">Reps</label>
                                <input type="number" class="form-control" id="exerciseRepsInput-@i" value="@Model.WorkoutExercises.ElementAt(i).Reps" name="reps">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exerciseResistanceInput-@i">Resistance</label>
                                <input type="text" class="form-control" id="exerciseResistanceInput-@i" value="@Model.WorkoutExercises.ElementAt(i).Resistance" name="resistance">
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="exerciseNotesInput-@i">Notes</label>
                                <input type="text" class="form-control" id="exerciseNotesInput-@i" value="@Model.WorkoutExercises.ElementAt(i).Notes" name="notes">
                            </div>

                            <button type="submit" class="btn btn-default">Update</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapse-heading-@i">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#collapse" href="#collapse-@i" aria-expanded="true" aria-controls="collapse-@i">
                        @Model.WorkoutExercises.ElementAt(i).Exercise.Name
                    </a>
                    <span class="btn-group pull-right btn-group-xs" role="group" aria-label="...">
                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#updateExerciseModal-@i"><i class="fa fa-pencil-square" aria-hidden="true"> Edit</i></button>
                        <button type="button" class="btn btn-default btn-xs" onclick="deleteExerciseFromWorkout('@Model.WorkoutExercises.ElementAt(i).Id', '@Model.WorkoutExercises.ElementAt(i).Exercise.Name', '@Model.Id')"><i class="fa fa-trash" aria-hidden="true"> Delete</i></button>
                    </span>
                </h4>
            </div>
            <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-@i">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Tool</th>
                            <th>Sets</th>
                            <th>Reps</th>
                            <th>Resistance</th>
                            <th>Description</th>
                            <th>Notes</th>
                            <th>Video</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>@Model.WorkoutExercises.ElementAt(i).Exercise.Tool.Name</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Sets</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Reps</td>
                            <td>@Model.WorkoutExercises.ElementAt(i).Resistance</td>
                            <td>
                                <i class="fa fa-info-circle" onclick="showExerciseInfo('@Model.WorkoutExercises.ElementAt(i).Exercise.Description', 'Description')" data-toggle="tooltip" title="View description"></i>
                            </td>
                            <td>
                                <i class="fa fa-comments" onclick="showExerciseInfo('@Model.WorkoutExercises.ElementAt(i).Notes', 'Notes')" data-toggle="tooltip" title="View notes"></i>
                                <i class="fa fa-plus-circle" data-toggle="tooltip" title="Add note" onclick="updateNotes('@Model.WorkoutExercises.ElementAt(i).Id', '@Model.WorkoutExercises.ElementAt(i).Notes')"></i>
                            </td>
                            <td>
                                <i class="fa fa-video-camera" onclick="videoModal('@Model.WorkoutExercises.ElementAt(i).Exercise.VideoUrl')" data-toggle="tooltip" title="View video"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>